<h1>Portfolio Items</h1>
<% @portfolio_items.each do |p_item| %>
  <p><%=p_item.title%></p>
  <p><%=p_item.subtitle%></p>
  <p><%=p_item.body%></p>
  <%= image_tag p_item.thumb_image%></p>
  <% end %>





